{% extends "base.html" %}

{% block content %}

    <h1>Добавление post</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost }}<br>
            {% for error in form.cost.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.rooms.label }}<br>
            {{ form.rooms }}<br>
            {% for error in form.rooms.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.floor.label }}<br>
            {{ form.floor }}<br>
            {% for error in form.floor.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.type_post() }} {{ form.type_post.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
