{% extends "base.html" %}

{% block content %}
 <p><a href="/index">Back</a></p>
   <h1>Просмотр объявления</h1>
    <h2>Название :{{post[1]}}</h2>
    <p>Описание :{{post[2]}}</p>
    <p>Цена :{{post[5]}}</p>
    <p>Тип :
        {% if post[8] == 1 %}
   Дом
{% else %}
     Квартира
{% endif %}

</p>
    <p>Количество комнат :{{post[6]}}</p>
    <p>Этаж :{{post[7]}}</p>
    <p>Адрес :{{post[9]}}</p>
    <p>Номер телефона :{{post[10]}}</p>
    <p>views:{{post[11]}}</p>

 
    </div>
{% endblock %} 